{% comment %}Start the Mega menu code {% endcomment %}
<ul class="navbar-nav align-items-center me-auto">
  {% for link in linklists[section.settings.menu].links %}
    {%- liquid
      assign megaMenuBlock = null
      for block in section.blocks
        if block.settings.title == link.title
          assign megaMenuBlock = block
          break
        endif
      endfor
    -%}
    {% if megaMenuBlock.type == 'megamenu' %}
      <li
        class="nav-item dropdown {% if megaMenuBlock %}megamenu{% endif %} {% if link.active %}active{% endif %}"
      >
        <a
          data-href="{{ link.url }}"
          {% if megaMenuBlock %}
            is="drop-down"
          {%- endif -%}
          role="button"
          class="nav-link d-flex align-items-center justify-content-between text-capitalize {{ link.handle }}"
          tabindex="0"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="menu"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          <span>{{ link.title }}</span> <span class="icon-arrow-down ms-1 fs-xs test"></span>
        </a>
        <ul class="dropdown-menu">
          <div class="container">
              <ul class="list-unstyled random_columns">
                {%- for child_link in link.links -%}
                  <li>
                    {% comment %} if you want to display link with the title, you can add the below code {% endcomment %}
                    <a
                      href="{{ child_link.url }}"
                      class="fw-bold"
                      title="{{ child_link.title }}"
                      aria-label="{{ child_link.title }}"
                    >
                      {{- child_link.title -}}
                    </a>
                    {% comment %} 
                      if you want to display only the title, you can add the below code
                    {% endcomment %}
                      {% comment %} <div class="fw-bold fs-xl">{{ child_link.title }}</div>  {% endcomment %}
                    {% if child_link.links.size > 0 %}
                      <ul class="list-unstyled {% if grandchild_link_size > 12 %}count_2{% endif %}">
                        {%- for grandchild_link in child_link.links -%}
                          <li class="nav-item">
                            <a
                              href="{{ grandchild_link.url }}"
                              class="nav-link"
                              title="{{ grandchild_link.title }}"
                              aria-label="{{ grandchild_link.title }}"
                            >
                              {{- grandchild_link.title -}}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {% endif %}
                  </li>
                {%- endfor -%}
              </ul>
          </div>
        </ul>
      </li>
      {% comment %}
        Note:- If you want to add a different type of mega menu, First, Add this elsif condition and add the different megamenu code here. Make sure you add the schema on header.liquid file for different megamenu.
         {% elsif megaMenuBlock.type == 'megamenu2' %}
      {% endcomment %}
    {% elsif link.links != blank %}
      <li class="nav-item dropdown default-submenu{% if link.active %} active{% endif %}">
        <a
          data-href="{{ link.url }}"
          is="drop-down"
          class="nav-link d-flex align-items-center justify-content-between text-capitalize {{ link.handle }}"
          tabindex="0"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="menu"
          name="{{ link.title }}"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          <span>{{ link.title }}</span> <span class="icon-arrow-down ms-1 fs-xs"></span>
        </a>
        <ul class="dropdown-menu">
          {% for child_link in link.links %}
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center justify-content-between{% if child_link.active %} active{% endif %} {{ child_link.handle }}"
                href="{{ child_link.url }}"
                title="{{ child_link.title }}"
                aria-label="{{ child_link.title }}"
              >
                {{ child_link.title }}
              </a>
              {% if child_link.links.size > 0 %}
                <ul class="list-unstyled">
                  {%- for grandchild_link in child_link.links -%}
                    <li class="nav-item">
                      <a
                        href="{{ grandchild_link.url }}"
                        class="nav-link"
                        title="{{ grandchild_link.title }}"
                        aria-label="{{ grandchild_link.title }}"
                      >
                        {{- grandchild_link.title -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item {% if link.active %} active{% endif %}">
        <a
          class="nav-link text-capitalize {{ link.handle }}"
          href="{{ link.url }}"
          is="simple-menu-item"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          {{ link.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% comment %}End the Mega menu code {% endcomment %}
