{% comment %} {% assign megamenuBlocks = section.blocks | where: 'type', 'megamenu' %} {% endcomment %}

<ul class="navbar-nav align-items-center me-auto">
  {% for link in linklists[section.settings.menu].links %}
    {%- liquid
      assign megaMenuBlock = null
      for block in section.blocks
        if block.settings.title == link.title
          assign megaMenuBlock = block
          break
        endif
      endfor
    -%}
    {% if megaMenuBlock.type == 'megamenu' %}
      <li
        class="nav-item dropdown {% if megaMenuBlock %}megamenu{% endif %} {% if link.active %}active{% endif %}"
      >
        <a
          data-href="{{ link.url }}"
          {% if megaMenuBlock %}
            is="drop-down"
          {%- endif -%}
          role="button"
          class="nav-link d-flex align-items-center justify-content-between text-capitalize {{ link.handle }}"
          tabindex="0"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="menu"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          <span>{{ link.title }}</span> <span class="icon-arrow-down ms-1 fs-xs test"></span>
        </a>
        <ul class="dropdown-menu">
          <div class="container">
            <div class="row">
              <div class="{% unless megaMenuBlock.settings.image == null %}col-md-8{% endunless %}">
                <ul class="list-unstyled random_columns {{ megaMenuBlock.settings.column }}">
                  {%- for child_link in link.links -%}
                    <li>
                      <a
                        href="{{ child_link.url }}"
                        class="fw-bold"
                        title="{{ child_link.title }}"
                        aria-label="{{ child_link.title }}"
                      >
                        {{- child_link.title -}}
                      </a>
                      {% comment %} <div class="text-uppercase fw-bold fs-xl">{{ childlink.title }}</div> {% endcomment %}
                      {% if child_link.links.size > 0 %}
                        <ul class="list-unstyled">
                          {%- for grandchild_link in child_link.links -%}
                            <li class="nav-item">
                              <a
                                href="{{ grandchild_link.url }}"
                                class="nav-link"
                                title="{{ grandchild_link.title }}"
                                aria-label="{{ grandchild_link.title }}"
                              >
                                {{- grandchild_link.title -}}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {% endif %}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              {% if megaMenuBlock.settings.image != null %}
                <div class="col-md-4">
                  <div class="d-flex flex-column">
                    {% if megaMenuBlock.settings.image %}
                      <div class="megamenu-img">
                        <img
                          src="{{ megaMenuBlock.settings.image | image_url: width: 50 }}"
                          srcset="
                            {%- if megaMenuBlock.settings.image.width >= 360 -%}{{ megaMenuBlock.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if megaMenuBlock.settings.image.width >= 520 -%}{{ megaMenuBlock.settings.image | image_url: width: 520 }} 520w{%- endif -%}
                          "
                          loading="lazy"
                          sizes="(min-width: 992px) 400px, 50px"
                          alt="Megamenu for {{ link.title }}"
                          class="img-fluid w-100"
                          height="300"
                          width="300"
                        >
                      </div>
                    {% endif %}
                    {% if megaMenuBlock.settings.link_text != '' %}
                      <a href="{{ megaMenuBlock.settings.link_url }}" class="text-uppercase fw-medium">
                        {{- megaMenuBlock.settings.link_text -}}
                      </a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </ul>
      </li>
    {% elsif link.links != blank %}
      <li class="nav-item dropdown default-submenu{% if link.active %} active{% endif %}">
        <a
          data-href="{{ link.url }}"
          is="drop-down"
          class="nav-link d-flex align-items-center justify-content-between text-capitalize {{ link.handle }}"
          tabindex="0"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="menu"
          name="{{ link.title }}"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          <span>{{ link.title }}</span> <span class="icon-arrow-down ms-1 fs-xs"></span>
        </a>
        <ul class="dropdown-menu">
          {% for child_link in link.links %}
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center justify-content-between{% if child_link.active %} active{% endif %} {{ child_link.handle }}"
                href="{{ child_link.url }}"
                title="{{ child_link.title }}"
                aria-label="{{ child_link.title }}"
              >
                {{ child_link.title }}
              </a>
              {% if child_link.links.size > 0 %}
                <ul class="list-unstyled">
                  {%- for grandchild_link in child_link.links -%}
                    <li class="nav-item">
                      <a
                        href="{{ grandchild_link.url }}"
                        class="nav-link"
                        title="{{ grandchild_link.title }}"
                        aria-label="{{ grandchild_link.title }}"
                      >
                        {{- grandchild_link.title -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item {% if link.active %} active{% endif %}">
        <a
          class="nav-link text-capitalize {{ link.handle }}"
          href="{{ link.url }}"
          is="simple-menu-item"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          {{ link.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<ul class="navbar-nav navbar-icon-links">
  <li class="nav-item">
    <a
      href="{{ routes.search_url }}"
      class="nav-link modal__toggle open-searchform"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.title' | t }}"
    >
      <span class="icon-search"></span>
    </a>
  </li>
  {% if shop.customer_accounts_enabled %}
    <li class="nav-item">
      <a
        class="nav-link"
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        title="account"
        rel="nofollow"
        aria-label="Account"
      >
        <span class="icon-user"></span>
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a
      href="{{ routes.cart_url }}"
      class="nav-link header__icon--cart position-relative"
      id="cart-icon-desktop"
      rel="nofollow"
      title="cart"
      rel="nofollow"
      aria-label="Cart"
    >
      <span class="icon-cart"></span>
      <span class="visually-hidden">{{ 'templates.cart.title' | t }}</span>
      {%- if cart != empty -%}
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true" class="cart-count">{{ cart.item_count }}</span>
        {%- endif -%}
      {%- endif -%}
    </a>
  </li>
</ul>
