{% style %}
    .feature-img{
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feature-img img{
        max-width: 100%;
        max-height: 100%;
    }
{% endstyle %}

<section class="{% if section.settings.section_top_spacing_enable %}section-spacing-top{% endif %} {% if section.settings.section_bottom_spacing_enable %}section-spacing-bottom{% endif %}"  data-section-id="{{ section.id }}" style="background: {{ section.settings.background }};">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-8 text-center mb-md-5 mb-4 mx-auto">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                    {%- when 'heading' -%}
                        <h3 class="section-title mb-3" {{ block.shopify_attributes }} data-block-id="{{ block.id }}" style="color: {{ block.settings.heading_color }}">{{ block.settings.heading }}</h3>
                    {%- when 'text' -%}
                        <div {{ block.shopify_attributes }} data-block-id="{{ block.id }}" style="color:{{ block.settings.text_color }}">{{ block.settings.text }}</div>
                    {%- endcase -%}    
                {% endfor %}
            </div>
        </div>

        {% assign content_blocks = section.blocks | where: 'type', 'content' %}
        {% if content_blocks.size > 0 %}
          <div class="row">
              {% for block in content_blocks %}
              <div class="{% unless section.settings.grid_size == '12' %}col-6{% endunless %} col-md-{{ section.settings.grid_size }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
                  <div class="feature d-flex flex-column {% if forloop.last == true %} mb-0 {% else %} mb-sm-0 mb-4{% endif %}">
                      <div class="text-center mb-4 feature-img">
                        {% if block.settings.icon != blank %}
                          <img src="{{ block.settings.icon | image_url: width: 150, height: 150 }}" class="img-fluid" alt="{{ block.settings.title | default: block.settings.title | escape }}"
                            width="350" height="150" loading="lazy"/>
                        {% else %}
                            {%- liquid 
                                capture current
                                    cycle 1, 2, 3, 4
                                endcapture
                            -%}
                            {{ 'hero-apparel-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                      </div>
                      <div class="text-center px-4">
                            {% if block.settings.title != blank %}
                                <h3 class="mb-2 fs-xl text-uppercase fw-semibold lh-base font-family-base">{{ block.settings.title }}</h3>
                            {% endif %}
                            {% if block.settings.txt != blank %}<div>{{ block.settings.txt }}</div>{% endif %}
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
        {% endif %}

        {% if section.settings.btn_txt != blank %}
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} mt-5" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>
                </div>
            </div>
        {% endif %}
 
    </div>
</section>

{% schema %}
{
    "name": "Features Grid",
    "class": "features-grid",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "section_top_spacing_enable",
            "label": "Enable Top Spacing",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "section_bottom_spacing_enable",
            "label": "Enable bottom Spacing",
            "default": true
        }, 
        {
            "type": "color_background",
            "id": "background",
            "label": "Background",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "grid_size",
            "label": "Grid Size",
            "options": [
                {
                    "value": "12",
                    "label": "1 Column"
                },
                {
                    "value": "6",
                    "label": "2 Columns"
                },
                {
                    "value": "4",
                    "label": "3 Columns"
                },
                {
                    "value": "3",
                    "label": "4 Columns"
                },
                {
                    "value": "2",
                    "label": "6 Columns"
                }
            ],
            "default": "4"
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [
                {
                    "value": "outline",
                    "label": "Outline"
                },
                {
                    "value": "",
                    "label": "Solid"
                }
            ],
            "default": "outline"
        },
        {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [
                {
                    "value": "primary",
                    "label": "Primary"
                },
                {
                    "value": "secondary",
                    "label": "Secondary"
                },
                {
                    "value": "light",
                    "label": "Light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                }
            ],
            "default": "primary"
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [
                {
                    "value": "",
                    "label": "Default"
                },
                {
                    "value": "btn-sm",
                    "label": "Small"
                },
                {
                    "value": "btn-lg",
                    "label": "Large"
                }
            ],
            "default": ""
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "limit": 1,
            "name": "Heading",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Our Services"
                },
                {
                    "type":"color",
                    "id":"heading_color",
                    "label":"Heading Color",
                    "default": "#121212"
                }
            ]
        },
        {
            "type": "text",
            "limit": 1,
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Lead Text"
                },
                {
                    "type":"color",
                    "id":"text_color",
                    "label":"Text Color"
                }
            ]
        },
        {
            "type": "content",
            "name": "Feature Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Select Icon"
                },
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "label": "Heading",
                    "default": "Awesome Heading"
                },
                {
                    "type": "richtext",
                    "id": "txt",
                    "label": "Lead Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Features Grid",
            "category": "Content",
            "blocks": [
                {
                    "type": "content"
                },
                {
                    "type": "content"
                },
                {
                    "type": "content" 
                },
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
}
{% endschema %}