{%- render 'account-header' -%}

<div data-template="account" class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="d-flex mb-5">
          <a href="{{ routes.account_url }}" class="btn-link btn-link-dark">
            <i class="icon-previous me-2"></i> {{ 'customer.account.return' | t -}}
          </a>
        </div>
        <div class="d-flex flex-wrap align-items-end mb-5">
          <h4 class="text-uppercase mb-4">{{ 'customer.order.title' | t: name: order.name }}</h4>
          <ul class="list-unstyled w-100 d-sm-flex mb-0">
            <li class="mb-0">
              {{ 'customer.order.date_html' | t: date: order.created_at | date: '%B %d, %Y %I:%M%p' }}
            </li>
          </ul>
        </div>

        {%- if order.cancelled -%}
          <div class="row mb-5">
            <div class="col text-center">
              <div class="alert alert-warning">
                {% assign cancelled_at = order.cancelled_at | date: '%B %d, %Y %I:%M%p' %}
                <h5>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</h5>
                <p class="my-0">{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
              </div>
            </div>
          </div>
        {%- endif -%}

        <div class="row">
          <div class="col-lg-3 order-lg-2 ps-xl-5">
            <div class="row">
              {% if order.note != blank %}
                <div class="col-lg-12 col-md-6 col-12 billing-address pb-4">
                  <div class="text-uppercase fw-bold mb-2">{{ 'customer.order.order_note' | t }}</div>
                  <p class="mb-0">
                    {{ order.note }}
                  </p>
                </div>
              {% endif %}
              <div class="col-lg-12 col-md-6 col-12 billing-address pb-4">
                <p class="mb-0">
                  <strong>{{ 'customer.order.fulfillment_status' | t }}: </strong>{{ order.fulfillment_status_label }}
                </p>
                <p class="mb-0">
                  <strong>{{ 'customer.order.payment_status' | t }}: </strong>{{ order.financial_status_label }}
                </p>
              </div>
              <div class="col-lg-12 col-md-6 col-12 billing-address pb-4">
                <div class="text-uppercase fw-bold mb-2">{{ 'customer.order.billing_address' | t }}</div>
                <p class="mb-0">
                  {{ order.billing_address | format_address }}
                </p>
              </div>
              <div class="col-lg-12 col-md-6 col-12 shipping-address pb-4">
                <div class="text-uppercase fw-bold mb-2">{{ 'customer.order.shipping_address' | t }}</div>
                <p class="mb-0">
                  {{ order.shipping_address | format_address }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-9 order-lg-1">
            <div class="order-table border border-gray-200 rounded">
              <div class="bg-gray-200 pt-3 pb-3 pe-3 ps-3 rounded mb-0 text-uppercase fw-bold fs-lg">
                <div class="row">
                  <div class="col-md-6 col-4">{{ 'customer.order.product' | t }}</div>
                  <div class="col-2 d-md-block d-none">{{ 'customer.order.price' | t }}</div>
                  <div class="col-md-2 col-4 d-md-block text-center">{{ 'customer.order.quantity' | t }}</div>
                  <div class="col-md-2 col-4 text-end">{{ 'customer.order.total' | t }}</div>
                </div>
              </div>

              {%- for line_item in order.line_items -%}
                <div class="ps-3 pe-3 pt-3 pb-3 border-bottom border-gray-200">
                  <div class="row" id="{{ line_item.id }}">
                    <div class="col-md-6 col-12 mb-md-0 mb-4">
                      <div class="d-flex" style="min-width: 270px">
                        <div class="pe-3">
                          <img
                            src="{{ line_item.image | image_url: width: 75 }}"
                            alt="{{ line_item.title | escape }}"
                            loading="lazy"
                            class="mr-3"
                            width="150"
                            height="150"
                          >
                        </div>
                        <div>
                          {{ line_item.title | link_to: line_item.product.url }}
                          {%- if line_item.sku != '' -%}
                            <p class="small">{{ 'customer.order.sku' | t }}: {{ line_item.sku }}</p>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-4">{{ line_item.price | money }}</div>
                    <div class="col-md-2 col-4 text-center">{{ line_item.quantity }}</div>
                    <div class="col-md-2 col-4 text-end">{{ line_item.quantity | times: line_item.price | money }}</div>
                  </div>
                </div>
              {%- endfor -%}

              <div class="col-xl-5 col-lg-6 col-md-7 ms-auto pe-3 ps-3 pt-2 pb-2">
                <div class="row no-gutter pt-2 pb-2">
                  <div class="col-8 text-start">
                    {{ 'customer.order.subtotal' | t }}
                  </div>
                  <div class="col-4 text-end">
                    {{ order.subtotal_price | money }}
                  </div>
                </div>
                {%- for discount in order.discount_applications -%}
                  <div class="row no-gutter pt-2 pb-2 order_summary discount">
                    <div class="col-8 text-start">
                      {{ discount.code }}
                      {{ 'customer.order.discount' | t }}
                    </div>
                    <div class="col-4 text-end">
                      {{ discount.savings | money }}
                    </div>
                  </div>
                {%- endfor -%}
                {%- for shipping_method in order.shipping_methods -%}
                  <div class="row no-gutter pt-2 pb-2">
                    <div class="col-8 text-start">
                      {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                    </div>
                    <div class="col-4 text-end">
                      {{ shipping_method.price | money }}
                    </div>
                  </div>
                {%- endfor -%}
                {%- for tax_line in order.tax_lines -%}
                  <div class="row no-gutter pt-2 pb-2">
                    <div class="col-8 text-start">
                      {{ 'customer.order.tax' | t }} ({{ tax_line.title }}
                      {{ tax_line.rate | times: 100 }}%)
                    </div>
                    <div class="col-4 text-end">
                      {{ tax_line.price | money }}
                    </div>
                  </div>
                {%- endfor -%}

                <div class="row no-gutter pt-2 pb-2">
                  <div class="col-6 text-uppercase text-start fw-semibold h5">
                    {{ 'customer.order.total' | t }}
                  </div>
                  <div class="col-6 text-end mb-0 fw-semibold h5">
                    {{ order.total_price | money }}
                    {{ order.currency }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
