<section>
    <div class="content-header-banner py-3 d-flex" style="background:{{ section.settings.section_bg_color }}; color:{{ section.settings.section_txt_color }};min-height:{{ section.settings.banner_height }}px;">
        {%- if section.settings.image != blank -%}
            <div class="header-banner-img">
                <img
                    srcset="
                    {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.image.width >= 520 -%}{{ section.settings.image | image_url: width: 520 }} 520w,{%- endif -%}
                    {%- if section.settings.image.width >= 650 -%}{{ section.settings.image | image_url: width: 650 }} 650w,{%- endif -%}
                    {%- if section.settings.image.width >= 780 -%}{{ section.settings.image | image_url: width: 780 }} 780w,{%- endif -%}
                    {%- if section.settings.image.width >= 900 -%}{{ section.settings.image | image_url: width: 900 }} 990w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1200 }} 1200w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1700 }} 1700w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1920 }} 1920w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 2560 }} 2560w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 3800 }} 3800w,{%- endif -%}"
                    src="{{ section.settings.image | image_url: width: 50 }}"
                    sizes="100vw"
                    alt="{{ section.settings.image.alt | escape }}"
                    class="w-100"
                    loading="lazy"
                    width="{{ section.settings.image.width | divided_by: 3 }}"
                    height="{{ section.settings.image.height | divided_by: 3 }}"
                >
            </div>
        {%- endif -%}
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} position-relative min-h-100">
            <div class="position-absolute">
                {% render 'breadcrumbs' %}
            </div>
            <div class="d-flex align-items-center min-h-100">
                <div class="py-5 py-lg-7 text-center w-100">
                    {% if section.settings.heading != '' %}<h1 class="mb-3">{{ section.settings.heading }}</h1>{% else %}<h1 class="mb-3">{{ page.title }}</h1>{% endif %}
                    {% if section.settings.txt != '' %}<div class="col-xl-6 col-lg-8 mx-auto">{{ section.settings.txt }}</div>{% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="pt-md-11 pt-9 pt-md-11 pt-9">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-us-sidebar pt-7 pb-4 pe-4 ps-4 rounded" style="background-color: black;">
                        {%- for block in section.blocks -%}
                            {%- case block.type -%}
                                {%- when 'address' -%}
                                    <div {{ block.shopify_attributes }} data-block-id="{{ block.id }}" class="mb-5" style="color: {{ block.settings.address_txt_color }};">
                                        <h2 class="mb-3 h6 text-uppercase">{{ block.settings.address_heading | escape }}</h2> 
                                        <div class="d-flex">
                                            <span class="icon-location contact-icons"></span>    
                                            <p>{{ block.settings.Address | escape }}</p>
                                        </div>
                                    </div>

                                {%- when 'phone_number' -%}
                                    <div {{ block.shopify_attributes }} data-block-id="{{ block.id }}" class="phone-contact mb-5" style="color: {{ block.settings.phone_txt_color }};">
                                        <h2 class="mb-3 h6 text-uppercase">{{ block.settings.phone_heading }}</h2> 
                                        <div class="d-flex">
                                            <span class="icon-phone contact-icons"></span>
                                            {{ block.settings.phone_no }}
                                        </div>
                                    </div>    

                                {%- when 'email' -%}
                                    <div {{ block.shopify_attributes }} data-block-id="{{ block.id }}" class="email-contact mb-5" style="color: {{ block.settings.email_txt_color }};">
                                        <h2 class="mb-3 h6 text-uppercase">{{ block.settings.email_heading }}</h2> 
                                        <div class="d-flex">
                                            <span class="icon-email contact-icons"></span>
                                            <p>{{ block.settings.email_name }}</p>
                                        </div>
                                    </div>   
                                    
                                {%- when 'follow_us' -%}    
                                    <div {{ block.shopify_attributes }} data-block-id="{{ block.id }}" class="mb-5" style="color: {{ block.settings.follow_txt_color }};">
                                        <h2 class="mb-3 h6 text-uppercase">{{ block.settings.social_heading }}</h2> 
                                        <ul class="social-links contact-social-links list-unstyled mb-0">
                                            {% if block.settings.social_icon_instagram %} 
                                                <li>
                                                    <a {% if settings.social_instagram_link != blank %}href="{{ settings.social_instagram_link }}"{% endif %} target="_blank" style="color: {{ section.settings.footer_top_link_color }};"  name="Instagram" title="Instagram" rel="nofollow noreferrer" aria-label="Instagram"
                                                    class="d-flex align-items-center justify-content-center text-decoration-none">
                                                        <span class="icon-instagram"></span>
                                                    </a>
                                                </li>
                                            {% endif %}
        
                                            {% if block.settings.social_icon_facebook %}
                                                <li>
                                                    <a {% if settings.social_facebook_link != blank %}href="{{ settings.social_facebook_link }}"{% endif %} target="_blank" style="color: {{ section.settings.footer_top_link_color }};" name="Facebook" title="Facebook" rel="nofollow noreferrer" aria-label="Facebook"
                                                    class="d-flex align-items-center justify-content-center text-decoration-none">
                                                        <span class="icon-facebook"></span>
                                                    </a>
                                                </li>
                                            {% endif %}
        
                                            {% if block.settings.social_icon_pinterest %}
                                                <li>
                                                    <a {% if settings.social_pinterest_link != blank %}href="{{ settings.social_pinterest_link }}"{% endif %} target="_blank" style="color: {{ section.settings.footer_top_link_color }};" name="pinterest" title="pinterest" rel="nofollow noreferrer" aria-label="pinterest"
                                                    class="d-flex align-items-center justify-content-center text-decoration-none">
                                                        <span class="icon-pinterest"></span>
                                                    </a>
                                                </li>
                                            {% endif %}
        
                                            {% if block.settings.social_icon_twitter %}
                                                <li>
                                                    <a {% if settings.social_twitter_link != blank %}href="{{ settings.social_twitter_link }}"{% endif %} target="_blank" style="color: {{ section.settings.footer_top_link_color }};"  name="Twitter" title="Twitter" rel="nofollow noreferrer" aria-label="Twitter"
                                                    class="d-flex align-items-center justify-content-center text-decoration-none">
                                                        <span class="icon-twitter"></span>
                                                    </a>
                                                </li>
                                            {% endif %}
        
                                            {% if block.settings.social_icon_youtube %}
                                                <li>
                                                    <a {% if settings.social_youtube_link != blank %}href="{{ settings.social_youtube_link }}"{% endif %} target="_blank" style="color: {{ section.settings.footer_top_link_color }};"  name="YouTube" title="YouTube" rel="nofollow noreferrer" aria-label="YouTube"
                                                    class="d-flex align-items-center justify-content-center text-decoration-none">
                                                        <span class="icon-youtube"></span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>    
                            {%- endcase -%}    
                        {% endfor %}
                    </div>
                </div>
                {%- for block in section.blocks -%}
                    {% if block.type == "contact_form" %}
                        <div class="col-lg-8 mt-lg-0 mt-6">
                            <div class="contact">
                                {%- form 'contact', id: 'ContactForm' -%}
                                    <div class="contact__fields mb-5">
                                        {% if block.settings.heading != '' %}<h3 class="text-uppercase fw-medium mb-3 h4" style="color: {{ block.settings.heading_color }};">{{ block.settings.heading }}</h3>{% endif %}
                                        {% if block.settings.form_text != '' %}<div class="mb-3">{{ block.settings.form_text }}</div>{% endif %} 
                                        {%- if form.posted_successfully? -%}
                                        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{{ 'templates.contact.form.post_success' | t }}</div>
                                        {%- elsif form.errors -%}
                                            <div class="form__message">
                                                <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{{ 'templates.contact.form.error_heading' | t }}</h2>
                                            </div>
                                            <ul class="form-status-list caption-large" role="list">
                                                <li>
                                                    <a href="#ContactForm-email" class="link">
                                                        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                                                    </a>
                                                </li>
                                            </ul>
                                        {%- endif -%}
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="form-floating">
                                                <input class="form-control" autocomplete="first_name" type="text" id="ContactForm-first_name" name="contact[{{ 'templates.contact.form.first_name' | t }}]" value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}" placeholder="{{ 'templates.contact.form.first_name' | t }}" required>
                                                <label for="ContactForm-first_name">{{ 'templates.contact.form.first_name' | t }}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="form-floating">
                                                <input class="form-control" autocomplete="last_name" type="text" id="ContactForm-last_name" name="contact[{{ 'templates.contact.form.last_name' | t }}]" value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}" placeholder="{{ 'templates.contact.form.last_name' | t }}" required>
                                                <label for="ContactForm-last_name">{{ 'templates.contact.form.last_name' | t }}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row field--with-error">
                                        <div class="col-md-6 form-group">
                                            <div class="form-floating">
                                                <input autocomplete="email" type="email" id="ContactForm-email" class="form-control fs-md lh-1" name="contact[email]" spellcheck="false" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" aria-required="true" required {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="ContactForm-email-error"{% endif %} placeholder="{{ 'templates.contact.form.email' | t }}">
                                                <label for="ContactForm-email">{{ 'templates.contact.form.email' | t }}</label>
                                            </div>

                                            {%- if form.errors contains 'email' -%}
                                                <small class="contact__field-error" id="ContactForm-email-error">
                                                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                                                </small>
                                            {%- endif -%}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="form-floating">
                                                <input type="text" id="ContactForm-phone" class="form-control fs-md lh-1" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.subject' | t }}">
                                                <label for="ContactForm-phone">{{ 'templates.contact.form.subject' | t }}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-floating">
                                            <textarea rows="10" id="ContactForm-body" class="text-area form-control fs-md lh-1" required name="contact[{{ 'templates.contact.form.comment' | t }}]" placeholder="{{ 'templates.contact.form.comment' | t }}">{{- form.body -}}</textarea>
                                            <label for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
                                        </div>
                                    </div>

                                    <div class="contact__button text-end">
                                        <button type="submit" class="btn btn-primary">
                                            {{ 'templates.contact.form.send' | t }}
                                        </button>
                                    </div>
                                {%- endform -%}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% assign map_block = section.blocks | where: 'type', 'maps' | first %}
    {%- if map_block != blank -%}
        <div class="bg-light-white  {% if map_block.settings.section_top_spacing_enable %}section-spacing-top{% endif %} {% if map_block.settings.section_bottom_spacing_enable %}section-spacing-bottom{% endif %}">
            <iframe 
                width="600" height="450" 
                style="border: 0px; width: 100%;" 
                allowfullscreen=""
                loading="lazy"
                src="{{ map_block.settings.maps_link }}"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
    {% endif %}
</section>
  
{% schema %}
  {
    "name": "Contact Us",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout?",
            "default": false
        },
        {
            "type":"header",
            "content":"Header Banner"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Banner Image"
        },
        {
            "type":"paragraph",
            "content":"styling"
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f3f3f3"
        },
        {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#121212"
        },
        {
            "type":"paragraph",
            "content":"content"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "txt",
            "label": "Lead Text",
            "default": "<p>Please fill out the form below to email your questions and comments to us 24 hours a day. A representative will respond to you via email or phone as soon as possible.</p>"
        },
        {
            "type": "range",
            "id": "banner_height",
            "min": 100,
            "max": 750,
            "step": 10,
            "default": 350,
            "unit": "px",
            "label": "Content Header Banner Height"
        }
    ],
    "blocks": [
            {
                "type": "contact_form",
                "name": "Contact Form",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Send us a message"
                    },
                    {
                        "type": "richtext",
                        "id": "form_text",
                        "label": "Text",
                        "default": "<p>Starred (*) fields are required. Please let us know if you prefer phone or email communication.</p>"
                    },
                    {
                        "type":"color",
                        "id":"heading_color",
                        "label":"Heading Color"
                    }
                ]
            },
            {
                "type": "address",
                "name": "Store Location",
                "limit": 1,
                "settings": [
                    {
                        "type": "inline_richtext",
                        "id": "address_heading",
                        "label": "Heading",
                        "default": "Store Location"
                    },
                    {
                        "type": "textarea",
                        "id": "Address",
                        "label": "Address",
                        "default": "203 N La Salle St, Suite 2100, Chicago, IL 60601"
                    },
                    {
                        "type": "color",
                        "id": "address_txt_color",
                        "label": "Text Color",
                        "default": "#ffffff"
                    }
                ]
            },
            {
                "type": "phone_number",
                "name": "Phone Number",
                "limit": 1,
                "settings": [
                    {
                        "type": "inline_richtext",
                        "id": "phone_heading",
                        "label": "Heading",
                        "default": "Phone"
                    },
                    {
                        "type": "richtext",
                        "id": "phone_no",
                        "label": "Phone Number",
                        "default": "<p>012-345-6789</p>"
                    }, 
                    {
                        "type": "color",
                        "id": "phone_txt_color",
                        "label": "Text Color",
                        "default": "#ffffff"
                    }
                ]
            },
            {
                "type": "email",
                "name": "Email",
                "limit": 1,
                "settings": [
                    {
                        "type": "inline_richtext",
                        "id": "email_heading",
                        "label": "Heading",
                        "default": "Email Us"
                    },
                    {
                        "type": "richtext",
                        "id": "email_name",
                        "label": "Email"
                    },
                    {
                        "type": "color",
                        "id": "email_txt_color",
                        "label": "Text Color",
                        "default": "#ffffff"
                    }
                ]
            },
            {
                "type": "follow_us",
                "name": "Follow Us",
                "limit": 1,
                "settings": [
                    {
                        "type": "inline_richtext",
                        "id": "social_heading",
                        "label": "Heading",
                        "default": "Follow Us"
                    },
                    {
                        "type": "checkbox",
                        "id": "social_icon_facebook",
                        "label": "Facebook",
                        "default": true
                    },
                    {
                        "type": "checkbox",
                        "id": "social_icon_pinterest",
                        "label": "pinterest",
                        "default": true
                    },
                    {
                        "type": "checkbox",
                        "id": "social_icon_twitter",
                        "label": "Twitter",
                        "default": true
                    },
                    {
                        "type": "checkbox",
                        "id": "social_icon_instagram",
                        "label": "Instagram",
                        "default": true
                    },
                    {
                        "type": "checkbox",
                        "id": "social_icon_youtube",
                        "label": "YouTube",
                        "default": true
                    },
                    {
                        "type": "color",
                        "id": "follow_txt_color",
                        "label": "Text Color",
                        "default": "#ffffff"
                    }
                ]
            },
            {
                "type": "maps",
                "name": "Maps",
                "limit": 1,
                "settings": [
                    {
                        "type": "textarea",
                        "id": "maps_link",
                        "label": "Maps Link"
                    },
                    {
                        "type": "checkbox",
                        "id": "section_top_spacing_enable",
                        "label": "Enable Top Spacing",
                        "default": true
                    },
                    {
                        "type": "checkbox",
                        "id": "section_bottom_spacing_enable",
                        "label": "Enable bottom Spacing",
                        "default": false
                    }
                ]
            }
        ]
    }
{% endschema %}





