<modal-dialog id="PopupModal-quickshop">
  <div data-section-id="{{ section.id }}" data-template="product" class="modal {% if product.has_only_default_variant %}only-default-variant{% endif %}">
      {%- liquid 
        assign current_variant = product.selected_or_first_available_variant
        assign featured_image = current_variant.featured_image | default: product.featured_image
        assign show_vendor = section.settings.show_vendor

        capture current
          cycle 1, 2
        endcapture
      -%}
      
      <div class="modal-dialog modal-dialog-centered modal-xl" data-product-container>
        <div class="modal-content">
          <div class="modal-head">
            <button class="btn close-quickshop" aria-label="{{ 'products.product.close_quickshop' | t }}">
              <span class="icon-close text-black"></span>
            </button>
          </div>
          <div class="modal-body px-5 py-7">
            <div class="container">
              <div class="row">
                  <div class="col-lg-7">
                    <a class="skip-to-content-link button visually-hidden-skip" href="#ProductInfo-quickshop-{{ product.id }}">
                      {{ "accessibility.skip_to_product_info" | t }}
                    </a>
                      <div class="product-images-wrapper pr-lg-4 text-center" data-main-slider>
                          {% if featured_image != blank %}
                              <slider-element class="swiper-container" >
                                  <div class="swiper swiper-slider product-carousel quickshop-slider" data-slider='{
                                          "loop": false,
                                          "effect": "fade",
                                          "slidesPerView": "1",
                                          "spaceBetween": 15,
                                          "grabCursor": true,
                                          "navigation": {
                                              "nextEl": ".swiper-button-next",
                                              "prevEl": ".swiper-button-prev"
                                          },
                                          "pagination": {
                                              "el": ".swiper-pagination",
                                              "clickable": true
                                          }
                                      }' role="tree">
                                      <div class="swiper-wrapper">
                                        {% for media in product.media %}
                                          <div class="swiper-slide d-flex align-items-center product--media" data-mediaID="{{ media.id }}" role="treeitem">
                                            {% if media.media_type == 'image' %}
                                              {% assign image = media %}
                                              <img srcset="
                                                {%- if image.src.width >= 350 -%}{{ image.src | image_url: width: 350 }} 350w,{%- endif -%}
                                                {%- if image.src.width >= 550 -%}{{ image.src | image_url: width: 550 }} 550w,{%- endif -%}
                                                {%- if image.src.width >= 750 -%}{{ image.src | image_url: width: 750 }} 750w,{%- endif -%}
                                                {%- if image.src.width >= 991 -%}{{ image.src | image_url: width: 991 }} 991w,{%- endif -%}
                                                {%- if image.src.width >= 1200 -%}{{ image.src | image_url: width: 1200 }} 1200w,{%- endif -%} 
                                                {%- if image.src.width >= 1500 -%}{{ image.src | image_url: width: 1500 }} 1500w,{%- endif -%} 
                                                {{ image.src | image_url }} {{ image.src.width }}w"
                                                src="{{ image.src | image_url: width: 50 }}" loading="lazy"
                                                data-variant-title="{{ image.alt | escape }}"
                                                sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width | divided_by: 2 }}px, 100vw"
                                                alt="{{ image.alt | default: product.title | escape | append: '-Image' | append: forloop.index }}"
                                                width="{{ image.src.width }}"
                                                height="{{ image.src.width | divided_by: image.src.aspect_ratio | round }}" >
                                            {% elsif media.media_type == 'external_video' or media.media_type == 'video' %}
                                              {%- render 'media', media: media -%}
                                            {% endif %}
                                          </div>
                                        {% endfor %}
                                      </div>
                                      <div class="swiper-button-next icon-arrow-right"></div>
                                      <div class="swiper-button-prev icon-arrow-left"></div>
                                  </div>    
                              </slider-element>
                          {% else %}
                            {{ 'detailed-apparel-2' | placeholder_svg_tag }}
                          {% endif %}
                      </div>
                  </div>
      
                  <div class="col-lg-5" id="ProductInfo-quickshop-{{ product.id }}">
                      <div class="product-details-wrapper mt-5 mt-lg-0" data-slider_type="default">
                        <h1 class="product-title">{{ product.title }}</h1>
      
                        <div class="align-items-center">
                          {% if show_vendor %}
                            <span class="my-0">{{ product.vendor }}</span>
                          {% endif %}
                        </div>
      
                        <div class="price-wrapper mt-3 mb-4">
                          {%- if current_variant.compare_at_price > current_variant.price -%}<s class="h6 text-gray-600 mr-2 money" data-comparePrice>{{ current_variant.compare_at_price | money }}</s>{%- endif -%}
                          <span class="h5 actual-price money" data-currentPrice>{{ current_variant.price | money }}</span>
                        </div>
                      
                        {%- render 'form-product' format: 'quickshop' -%}
      
                        {% if product.description %}
                          <h6 class="mt-5 mb-2">{{ 'products.product.description' | t }}</h6>
                          <div class="rte quick-view-des">
                              {{ product.description }}
                          </div> 
                        {% endif %}
      
                        {% if section.settings.show_social_share %}
                          <div class="d-flex align-items-center mt-5">
                            <p class="mb-0 me-3">{{ 'products.product.share' | t }}</p>
                            {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                          </div>
                        {% endif %}
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <script type="application/json" data-productMedia>
    {{ product.media | json }}
  </script>
  
  {% style %}
    .quickshop--button{
        display: none;
    }

    .close-quickshop{
        outline: none;
        font-size: 20px;
        line-height:1;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 0;
        z-index: 2;
        padding:8px;
    }

    .close-quickshop span{
      display: inline-block;
      vertical-align: top;
    }
    .quick-view-des{
        max-height: 300px;
        overflow: auto;
    }
    .quickshop-slider .swiper-slide{
      height:auto;
      background-color:#fff;
    }
    /* .custom-video-container {
      position:relative;
    }
    .custom-video-container .cta-btn{
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    } */
    .custom-video-container.video--playing .content-section{
      display:none;
    }
    .custom-video-container .video-section video{
      width:100%;
    }
  {% endstyle %}
  
</modal-dialog>

{% schema %}
{
  "name": "Product Quickshop",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "header",
      "content": "Features"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show Vendor?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "label": "Show Social Share?",
      "default": true
    }
  ]
}
{% endschema %}
