{%- render 'account-header' -%}

<div class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xl-3 mb-lg-0 mb-6">
        {%- render 'account-sidebar' -%}
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="rounded-3 pt-3 pb-1 pe-3 ps-3 pt-md-4 pe-md-4 ps-md-4 border border-gray-200">
          <h4 class="mb-0 pb-4 text-uppercase order_title">{{ 'customer.orders.title' | t }}</h4>
          {%- if customer.orders.size > 0 -%}
            {% paginate customer.orders by 15 %}
              <table role="table" class="order-history account-table table mb-0">
                <caption class="visually-hidden">
                  {{ 'customer.orders.title' | t }}
                </caption>
                <thead role="rowgroup" class="group-name">
                  <tr role="row">
                    <th id="ColumnOrder" scope="col" role="columnheader" class="bg-gray-200 fw-bold ls-sm border-0">
                      {{ 'customer.orders.order_number' | t }} & {{ 'customer.orders.date' | t }}
                    </th>
                    <th
                      id="ColumnFulfillment"
                      scope="col"
                      role="columnheader"
                      class="bg-gray-200 fw-bold ls-sm border-0 d-xl-block d-none"
                    >
                      {{ 'customer.orders.fulfillment_status' | t }}
                    </th>
                    <th
                      id="ColumnTotal"
                      scope="col"
                      role="columnheader"
                      class="bg-gray-200 fw-bold ls-sm border-0 text-end"
                    >
                      {{ 'customer.orders.total' | t }}
                    </th>
                  </tr>
                </thead>
                <tbody role="rowgroup" class="bg-white">
                  {%- for order in customer.orders -%}
                    <tr role="row">
                      <td
                        role="cell"
                        headers="ColumnOrder"
                        data-label="{{ 'customer.orders.order_number' | t }}"
                      >
                        <span class="d-md-inline-block d-block">
                          <a
                            href="{{ order.customer_url }}"
                            class="fw-semibold order_link"
                            aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                            title="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                          >
                            {{ order.name }}
                          </a>
                        </span>
                        on {{ order.created_at | time_tag: format: 'date' }}
                        <div class="fs-lg d-xl-none">
                          <span class="fw-bold">{{ 'customer.orders.fulfillment_status' | t }}:</span>
                          {{ order.fulfillment_status_label }}
                        </div>
                      </td>
                      <td
                        headers="ColumnFulfillment"
                        role="cell"
                        class=" d-xl-block d-none"
                        data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                      >
                        {{ order.fulfillment_status_label }}
                      </td>
                      <td
                        class="text-end"
                        headers="ColumnTotal"
                        role="cell"
                        data-label="{{ 'customer.orders.total' | t }}"
                      >
                        {{ order.total_price | money }}
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
              {%- if paginate.pages > 1 -%}
                <div class="mt-4">
                  {% render 'pagination', paginate: paginate %}
                </div>
              {%- endif -%}
            {% endpaginate %}
          {%- else -%}
            <p>{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Account Page",
  "class": "section-account",
  "tag": "section"
}
{% endschema %}
